h1 {
    font-size: 40px;
    text-align: center;
}

h4{
  font-size: 20px;
  color: white;
}

p {
    font-size: 20px;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #2fc68c, #197da1, #000000);
}

header {
    background-color: #f2f2f2;
    padding: 30px;
} 

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    color: #000;
    text-decoration: none;
}

section {
    margin: 50px;
}

#search-bar {
  width: 500px;
  height: 200px;
  padding: 10px;
  font-size: 50px;
  margin: 20px auto;
  text-align: center;
  border-radius: 30px;
}


#search-btn {
  width: 100px;
  height: 40px;
  font-size: 18px;
  margin-left: 10px;
  border-radius: 10px;
}

#score-box {
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 10px;
  }

  #violent-box{
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 10px;
    position: absolute;
    top: 1100px;
    left: 50px
  }

  
  #property-box{
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 10px;
    position: absolute;
    top: 1100px;
    left: 600px
  }

  
  #overall-box{
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 10px;
    position: absolute;
    top: 1100px;
    right: 50px
  }

  /* #myChart{
    width: 100px;
    height: 40px;
  } */

  /* Example of positioning an element */
#violent {
  position: absolute;
  top: 1100px;
  left: 50px;
}

#property {
  position: absolute;
  top: 1100px;
  left: 600px;
}

#overall {
  position: absolute;
  top: 1100px;
  right: 50px;
}

#banner {
  background-color: white;
  height: 80px;
  width: 100%
  display: flex;
  background: linear-gradient(to right, lightblue, lightgreen);
}

  

