@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


h1 {
    margin-top: 2%;
    margin-left: 2%;
    font-size: 40px;
    text-align: left;
    font-family: 'Source Code Pro', open sans-serif;  
  }

h2 {
  margin-top: 2%;
  font-size: 40px;
  text-align: left;
}





p {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 54px;
  color: #050505b3;
}

/* Animation */
p {
  animation: animated-text 4s steps(29) 1s 1 normal both,
             animated-cursor 600ms steps(29) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 1000px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(5, 5, 5, 0.75);}
  to{border-right-color: transparent;}
}


body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgb(8, 149, 86),lightblue, white);
    background-attachment: fixed;
    height: 100vh;
}

header {
    background-color: #f2f2f2;
    padding: 30px;
} 

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    color: #000;
    text-decoration: none;
}

section {
    margin: 50px;
}

#search-bar {
  width: 500px;
  height: 200px;
  padding: 10px;
  font-size: 50px;
  margin: 20px auto;
  text-align: center;
  border-radius: 30px;
}


#search-btn {
  width: 100px;
  height: 40px;
  font-size: 18px;
  margin-left: 10px;
  border-radius: 10px;
}

#score-box {
  position: absolute;
  white-space: pre-wrap;
  top: 60%;
  left: 60%;
  width: 40%;
  height: 40%;
  font-size: 20px;
  margin-left: 60%;
  border-radius: 10px;
  display: inline-block; 
  white-space: pre-wrap;
  overflow: auto;
}


#map{
  position: absolute;
  top: 60%;
  left: 5%;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 200px;
  margin-top: 10px;
}

#header4{
  font-size: 24px;
  position: absolute;
  text-align: center;
  bottom: 60%;
  height:30px;
  width:90%;
}

#text {
  font-size: 36px;
  display: inline-block;
  white-space: pre;
  text-align: center;
}

a[href='https://ucr.fbi.gov/crime-in-the-u.s/2018/crime-in-the-u.s.-2018/tables/table-8/table-8-state-cuts/texas.xls'] {
  position: absolute;
  top: 20px;
  right: 5%;
}

a[href='page2.html'] {
  position: absolute;
  top: 20px;
  right: 25%;
}

a[href='frontEnd.html'] {
  position: absolute;
  top: 20px;
  right: 5%;
}

a {
  display: inline-block;
  font: sans-serif;
  background-color: rgba(0, 0, 0, 0); /* Transparent black */
  outline-color: black;
  outline: 3px;
  padding: 10px;
  color: rgb(247, 239, 239);
  font-size: 20px;
  text-decoration: none;
  font-family: 'Source Code Pro', open sans-serif;  

}



